<div id="app"></div>

<!-- Vuetify用 CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.css"
  rel="stylesheet"
/>

<!-- Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- Vuetify -->
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.js"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Vueコード -->
<script type="text/x-template" id="app-template">
  <v-app>
    <v-container>
      <v-card
        class="mx-auto mt-3"
        max-width="500"
        variant="outlined">
      <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn variant="outlined"
          @click="reset()">
            リセット
          </v-btn>
        </v-card-actions>
        <v-card-text class="align-center">
          {{counter+1}} / {{shuffledItems.length}}
        </v-card-text>
        <v-card-text class="justify-center">
          <v-img
            width="350"
            :aspect-ratio="1"
            :src="shuffledItems[counter] == null ? '-' : shuffledItems[counter].image"
          ></v-img>
        </v-card-text>
        <div v-if="currentAnimal != 'ノイヌ' && currentAnimal != 'ノネコ'">
          <v-card-text v-if="shuffledItems[counter] != null">
            ※画像出典: {{shuffledItems[counter].source}}
          </v-card-text>
        </div>
        <v-card-text v-if="currentAnimal == 'ノイヌ' || currentAnimal == 'ノネコ'">
          ※画像出典: Wikipedia({{shuffledItems[counter].image_wiki}})
        </v-card-text>

        <v-card-actions>
          <v-btn 
          size="x-large"
          icon="mdi-arrow-left-bold"
          @click="prev()" />
          <v-spacer></v-spacer>
          <v-btn 
            size="x-large"
            icon="mdi-arrow-right-bold"
            @click="next()" />

          <v-btn
            :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            @click="show = !show"
          ></v-btn>
        </v-card-actions>
        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>
            <v-card-title v-text="shuffledItems[counter] == null ? '-' : shuffledItems[counter].name">
            </v-card-title>
          </div>
        </v-expand-transition>
      </v-card>
      <v-expansion-panels class="mt-3">
        <v-expansion-panel title="設定">
          <v-expansion-panel-text>
            <v-radio-group inline label="出題画像" v-model="settingImage" @change="onChangeImage">
              <v-radio label="写真" value="photo"></v-radio>
              <v-radio label="イラスト" value="illust"></v-radio>
            </v-radio-group>
          </v-expansion-panel-text>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
  </v-app>
</script>
<script>
  const { createApp } = Vue;
  const { createVuetify } = Vuetify;

  const vuetify = createVuetify();
  const apiUrl = "https://hypertk.github.io/gh-pages-wild-rest-api/wild/huntable/"

  const app = createApp({
    template: "#app-template",
    data() {
      return {
        show: false,
        items: [],
        shuffledItems: [],
        counter: 0,
        currentAnimal: "",
        settingImage: "photo"
      }
    },

    mounted() {
      axios.get(apiUrl)
      .then((response) => {
            this.items = response.data
            this.generateProblem(this.settingImage)
            this.currentAnimal = this.shuffledItems[this.counter].name
          }
        )
      .catch((error) => console.log(error))
    },
    methods: {
      init() {
        this.counter = 0
        this.shuffledItems = []
        this.show = false
      },
      onChangeImage() {
        this.generateProblem(this.settingImage)
      },
      generateProblem(type) {
        // パラメータ初期化
        this.init()
        const arr = this.shuffleArray(this.items)
        // 初期設定は実写画像を設定
        for(const i of arr) {
          console.log(i)
          var image = ""
          var source = ""
          // 実写の場合
          if(type == "photo") {
            image = i.image_wiki
            source = `Wikipedia(${i.image_wiki})`
          // イラストの場合
          } else {
            image = i.image_j_hunters
            source = "大日本猟友会(http://j-hunters.com/intro/target.php)"
          }
          i.image = image
          i.source = source
          this.shuffledItems.push(i)
        }
      },
      shuffleArray(array) {
        const cloneArray = [...array]
        for(let i = cloneArray.length - 1; i >= 0; i--) {
          let rand = Math.floor(Math.random() * (i * 1))
          // 配列の順番を入れ替える
          let tempStorage = cloneArray[i]
          cloneArray[i] = cloneArray[rand]
          cloneArray[rand] = tempStorage
        }
        return cloneArray
      },
      next() {
        if(this.shuffledItems.length <= this.counter + 1)return
        this.show = false
        this.counter++
        this.currentAnimal = this.shuffledItems[this.counter].name
      },
      prev() {
        if(this.counter == 0) return
        this.show = false
        this.counter--
        this.currentAnimal = this.shuffledItems[this.counter].name
      },
      reset() {
        this.init()
        // 現在の出題画像の設定で配列をリセット
        this.generateProblem(this.settingImage)
      }
    }
  })
    .use(vuetify)
    .mount("#app");
</script>
