<div id="app"></div>

<!-- Vuetify用 CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.css"
  rel="stylesheet"
/>

<!-- Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- Vuetify -->
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.10/dist/vuetify.min.js"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Vueコード -->
<script type="text/x-template" id="app-template">
  <v-app>
    <v-container>
      <v-card
        class="mx-auto"
        max-width="500">
      <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn variant="outlined"
          @click="reset()">
            リセット
          </v-btn>
        </v-card-actions>
        <v-card-text class="align-center">
          {{counter+1}} / {{shuffledItems.length}}
        </v-card-text>
        <v-card-text class="justify-center">
          <v-img
            width="350"
            :aspect-ratio="1"
            :src="shuffledItems[counter] == null ? '-' : shuffledItems[counter].image_j_hunters"
          ></v-img>
        </v-card-text>
        <div v-if="currentAnimal != 'ノイヌ' && currentAnimal != 'ノネコ'">
          <v-card-text>
            ※画像出典: 大日本猟友会(http://j-hunters.com/intro/target.php)
          </v-card-text>
        </div>
        <v-card-text v-if="currentAnimal == 'ノイヌ' || currentAnimal == 'ノネコ'">
          ※画像出典: Wikipedia({{shuffledItems[counter].image_wiki}})
        </v-card-text>

        <v-card-actions>
          <v-btn 
          size="x-large"
          icon="mdi-arrow-left-bold"
          @click="prev()" />
          <v-spacer></v-spacer>
          <v-btn 
            size="x-large"
            icon="mdi-arrow-right-bold"
            @click="next()" />

          <v-btn
            :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            @click="show = !show"
          ></v-btn>
        </v-card-actions>
        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>
            <v-card-title v-text="shuffledItems[counter] == null ? '-' : shuffledItems[counter].name">
            </v-card-title>

          </div>
        </v-expand-transition>
      </v-card>
    </v-container>
  </v-app>
</script>
<script>
  const { createApp } = Vue;
  const { createVuetify } = Vuetify;

  const vuetify = createVuetify();
  const apiUrl = "https://hypertk.github.io/gh-pages-wild-rest-api/wild/huntable/"

  const app = createApp({
    template: "#app-template",
    data() {
      return {
        show: false,
        items: [],
        shuffledItems: [],
        counter: 0,
        currentAnimal: ""
      }
    },

    mounted() {
      axios.get(apiUrl)
      .then((response) => {
            this.items = response.data
            this.shuffledItems = this.shuffleArray(this.items)
            this.currentAnimal = this.shuffledItems[this.counter].name
          }
        )
      .catch((error) => console.log(error))
    },
    methods: {
      shuffleArray(array) {
        const cloneArray = [...array]
        for(let i = cloneArray.length - 1; i >= 0; i--) {
          let rand = Math.floor(Math.random() * (i * 1))
          // 配列の順番を入れ替える
          let tempStorage = cloneArray[i]
          cloneArray[i] = cloneArray[rand]
          cloneArray[rand] = tempStorage
        }
        return cloneArray
      },
      next() {
        if(this.shuffledItems.length <= this.counter + 1)return
        this.show = false
        this.counter++
        this.currentAnimal = this.shuffledItems[this.counter].name
      },
      prev() {
        if(this.counter == 0) return
        this.show = false
        this.counter--
        this.currentAnimal = this.shuffledItems[this.counter].name
      },
      reset() {
        this.shuffledItems = this.shuffleArray(this.items)
        this.counter = 0
        this.show = false
      }
    }
  })
    .use(vuetify)
    .mount("#app");
</script>
